CityKarmaNodeRed.txt
[{"id":"ec94505b.7975a","type":"mqtt-broker","broker":"iot.eclipse.org","port":"1883","clientid":""},{"id":"d89e5369.069498","type":"mqtt in","name":"Panic_Alert","topic":"/senzations/citizenkarmakit/panic_alert","broker":"ec94505b.7975a","x":81,"y":297,"z":"5244882a.54cf5","wires":[["f26d5b97.e31f38","f2e1c024.d6a72"]]},{"id":"f26d5b97.e31f38","type":"debug","name":"","active":false,"console":false,"complete":false,"x":275,"y":384,"z":"5244882a.54cf5","wires":[]},{"id":"f2e1c024.d6a72","type":"function","name":"TweeText","func":"var input = msg.payload;\nvar json = JSON.parse(input);\nmsg.payload = json.alarm_msg + \" -- \" + json.location + \" \" + json.timestamp + \" (\" + json.id + \") #CityKarma\"\nreturn msg;","outputs":1,"x":254,"y":286,"z":"5244882a.54cf5","wires":[["2906036d.0e4e8c","1c05049b.9288cb"]]},{"id":"2906036d.0e4e8c","type":"debug","name":"","active":false,"console":"false","complete":"false","x":416,"y":347,"z":"5244882a.54cf5","wires":[]},{"id":"595c2dfd.978e24","type":"debug","name":"","active":true,"console":false,"complete":false,"x":219,"y":555,"z":"5244882a.54cf5","wires":[]},{"id":"1c05049b.9288cb","type":"twitter out","twitter":"","name":"TweetOut","x":429,"y":266,"z":"5244882a.54cf5","wires":[]},{"id":"121f821.dddf7fe","type":"twitter in","twitter":"","tags":"#CityKarma","user":"false","name":"TweetIn","topic":"tweets","x":106,"y":486,"z":"5244882a.54cf5","wires":[["595c2dfd.978e24","8dc0720d.dc02a8"]]},{"id":"bc774909.3b012","type":"function","name":"OwnMsg","func":"var outputMsgs = [];\n    var words = msg.payload.split(\" \");\n    for (var w in words) {\n        outputMsgs.push({payload:words[w]});\n    }\n    return [ outputMsgs ];","outputs":1,"x":496,"y":465,"z":"5244882a.54cf5","wires":[["b0f4afa5.ff079"]]},{"id":"b0f4afa5.ff079","type":"debug","name":"","active":false,"console":false,"complete":false,"x":584,"y":522,"z":"5244882a.54cf5","wires":[]},{"id":"8dc0720d.dc02a8","type":"switch","name":"","property":"topic","rules":[{"t":"cont","v":"CityKarmaApp"},{"t":"else"}],"checkall":"true","outputs":2,"x":288,"y":486,"z":"5244882a.54cf5","wires":[["bc774909.3b012"],["8102667e.dd98b"]]},{"id":"cd3ae568.133af8","type":"debug","name":"","active":true,"console":false,"complete":false,"x":543,"y":658,"z":"5244882a.54cf5","wires":[]},{"id":"8102667e.dd98b","type":"function","name":"ReplyMsg","func":"var a_string = \"\"\n    var words = msg.payload.split(\" \");\n    a_string = words[1] + \" \" + \"4Li6Nan\"\n    msg.payload = a_string\n\nreturn msg","outputs":1,"x":415,"y":583,"z":"5244882a.54cf5","wires":[["cd3ae568.133af8","796b30c7.02b078"]]},{"id":"796b30c7.02b078","type":"mqtt out","name":"RspTopic","topic":"/senzations/citizenkarmakit/responses","broker":"ec94505b.7975a","x":597,"y":592,"z":"5244882a.54cf5","wires":[]},{"id":"8c3b29c2.d30358","type":"mqtt in","name":"Assist_Alert","topic":"/senzations/citizenkarmakit/assistant_alert","broker":"ec94505b.7975a","x":78,"y":341,"z":"5244882a.54cf5","wires":[["f2e1c024.d6a72"]]},{"id":"7d6aaaff.89b204","type":"mqtt in","name":"MIC_Alert","topic":"/senzations/citizenkarmakit/mic_alert","broker":"ec94505b.7975a","x":84,"y":386,"z":"5244882a.54cf5","wires":[["f2e1c024.d6a72"]]}]